<div class="modal modal-blur fade" id="tag-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="card tag-form" id="tag-form"> 
                <input hidden name="id" value="" readonly />
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">New+</label>
                        <input type="text" class="form-control" name="tag" placeholder="tag">
                    </div> 
                </div>
                <div class="modal-body">
                    <div class="row"> 
                        <div class="col-lg-12">
                            <div>
                                <label class="form-label">Tags</label>
                                <div class="tags-list" >
                                    <span class="tag">
                                        Label 1
                                        <a class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 2
                                        <a href="" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 3
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 4
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 5
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 6
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 7
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 8
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 9
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 10
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 11
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 12
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 13
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                    <span class="tag">
                                        Label 14
                                        <a href="#" class="btn-close"></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a class="btn btn-primary ms-auto" data-bs-dismiss="modal" id="submit">
                    Submit
                </a>
            </div>
        </div>
    </div>
</div>