<div class="modal modal-blur fade" id="video-play" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"  >
            <div class="modal-header"> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <video id="video"  controls>
                <source src="" type="application/x-mpegURL">
                您的浏览器不支持视频播放。
            </video> 
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a class="btn btn-primary ms-auto" data-bs-dismiss="modal" id="edit-submit">
                    Edit
                </a>
            </div>
        </div>
    </div>
</div>